<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contact</h1>
        <p>I can be reached at the following Email: arsalane.otmane&#64;gmail.com</p>
        <p>Feel free to connect with me on any of the following platforms:</p>
    
    </div>
    <div class="list-group shadow">
        <a href="https://api.whatsapp.com/send?phone=212691417586&text=Hello, more information!" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="https://shopoume.s3.eu-north-1.amazonaws.com/Profolio/wtsapp.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Whatsapp</h3>
        </a>
    </div>
    <div class="list-group shadow">
        <a href="www.linkedin.com/in/otmane-arsalane" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="https://shopoume.s3.eu-north-1.amazonaws.com/Profolio/linkedin.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">LinkedIn</h3>
        </a>
    </div>
    <div class="list-group shadow">
        <a href="https://www.facebook.com/othmane.arsalane.71" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="https://shopoume.s3.eu-north-1.amazonaws.com/Profolio/facebook.jpg" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Facebook</h3>
        </a>
    </div>
    <div class="list-group shadow">
        <a href="https://github.com/Zeref199" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="https://shopoume.s3.eu-north-1.amazonaws.com/Profolio/github.jpg" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Github</h3>
        </a>
    </div>
</div>
