/* Light Theme */
.light-theme {
    background-color: #ffffff; /* Set light background color */
    color: #000000; /* Set light text color */
    /* Add any other light theme styles here */
  }
  
  /* Dark Theme */
  .dark-theme {
    background-color: #000000; /* Set dark background color */
    color: #ffffff; /* Set dark text color */
    /* Add any other dark theme styles here */
  }
  