<div
  [ngClass]="{
    'light-theme': currentTheme === 'light',
    'dark-theme': currentTheme === 'dark'
  }"
>
  <div class="container">
    <div class="row">
      <!--About me-->
      <div class="col-lg shadow border m-1">
        <div class="text-center">
          <h2>About Me</h2>
          <img
            src="https://shopoume.s3.eu-north-1.amazonaws.com/Profolio/OtmaneProfolio2.0.jpg"
            alt="profile picture"
            width="300"
            height="350"
            class="rounded-circle"
          />
          <p style="padding-top: 5%">
            Hello World! I’m Arsalane Otmane, a passionate Software Engineer who
            loves turning ideas into reality. My journey in technology began in
            high school when I wrote my first line of code, and I’ve been hooked
            ever since. I recently completed my engineering studies in Software
            Engineering, gaining hands-on experience in designing and delivering
            scalable, high-quality solutions through various internships and
            projects. These experiences have strengthened my problem-solving
            abilities and deepened my understanding of algorithms, software
            design, and systems architecture. I thrive on tackling complex
            challenges, quickly adapting to new tools and methodologies, and
            continuously expanding my knowledge. Beyond coding, I enjoy game
            development (which is still coding 😊), exploring creative ideas,
            and finding inspiration in diverse fields. I believe the best
            solutions come from a mix of technical expertise and out-of-the-box
            thinking, and I bring this mindset to everything I create. I’m
            always open to new challenges, collaborations, and opportunities to
            grow. Feel free to reach out if you'd like to collaborate or just
            chat about tech!
          </p>
        </div>
      </div>

      <!--Featured Project-->
      <div class="col-lg shadow border m-1">
        <div class="text-center">
          <h2>Featured Project</h2>
          <h4>{{ featuredProject.name }}</h4>
        </div>

        <carousel>
          <div *ngFor="let picture of featuredProject.pictures">
            <slide
              ><img
                src="{{ picture }}"
                alt="slide"
                style="display: block; width: 100%"
            /></slide>
          </div>
        </carousel>

        <p class="mt-2">{{ featuredProject.summary }}</p>
        <p>Visit the Portfolio section to learn more!</p>
      </div>
    </div>
  </div>
</div>
